.big-heading{
    color: var(--theme-primary-color);
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}

@media only screen and (max-width:425px){
    .big-heading{
        font-size: 35px;
    }
}
.mid-heading{
    color: var(--theme-primary-color);
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
}

@media only screen and (max-width:425px){
    .mid-heading{
        font-size: 21px;
    }
}

.small-heading{
    color: var(--theme-primary-color);
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
}

@media only screen and (max-width:425px){
    .small-heading{
        font-size: 17.5px;
    }
}